@use "sass:color";

$color-primary: #426bb1;
$color-text: #2A2C2C;
$color-text-hover: #ffffff;

@mixin titlepage-title {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0 0 0 50px;
    width: 600px;
}

@mixin page-title {
    height: 100%;
    vertical-align: middle;
    font-size: 2em;
    padding: 1em 0.5em;
}

body {
    padding: 2em;
    font-family: Tahoma, sans-serif;
    font-size: 1em;
    color: $color-text;
}

a {
    color: $color-primary;
}

nav {
    display: inline-block;
    vertical-align: top;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        color: $color-text;
        padding: 0.5em;
        display: inline-block;
        text-decoration: none;

        &:hover {
            background-color: $color-primary;
            color: $color-text-hover;
        }
    }

    [aria-current="page"] {
        background-color: color.scale($color-primary, $lightness: 70%);
    }
}

.content-holder {
    width: 1300px;
    display: inline-block;
    vertical-align: top;
}

.bg-image {
    position: absolute;
    z-index: -1;

    img {
        max-width: 1280px;
    }
}

.text-vert-mid {
    display: inline-block;
    font-size: 2em;
    padding: 1em 0;

    p {
        margin: 0.2em;
    }
}

.bio-detail {
    width: 50%;
}

.title-title {
    color: $color-text;
    @include titlepage-title;
    margin: 170px 0 0 50px;
}

.title-title-light {
    color: $color-text-hover;
    @include titlepage-title;
    margin: 170px 0 0 50px;
}

.title-subtitle {
    color: $color-text-hover;
    @include titlepage-title;
}

.title-detail {
    color: $color-text;
    padding: 0.5em;
    margin: 0 0 0 50px;
}

.hashtag {
    margin-right: 0.5em;
}

.bio-image {
    display: inline-block;
    margin: 2em 2em 0 0;

    img {
        border-radius: 50%;
    }
}

.bio-author {
    font-size: 1.5em;
    font-weight: bold;
}

.bio-highlights {
    p {
        font-size: 1.2em;
    }
}

.bio-mastodon {
    font-size: 1.2em;
    background: no-repeat left/1.5em url("/img/mastodon_logo.png") ;
    padding: 0.2em 0 0.2em 2em;
    text-decoration: none;
    color: $color-primary;
}

.header {
    height: 100px;

    img {
        max-width: 1280px;
    }
}

.page-title {
    @include page-title;
    color: $color-text;
}

.page-title-light {
    @include page-title;
    color: $color-text-hover;
}

.right {
    float: right;
    margin-right: 2em;
    text-align: right;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;

    img {
        width: 100%;
        max-height: 800px;
    }
}

.text-social {
    color: $color-text;
    font-size: 1.5em;
    padding: 250px 0;

    div {
        display: inline-block;
        width: 32.8%;
        text-align: center;
    }

    img {
        width: 56px;
    }
}

.social-username {
    font-size: 1.3em;
}