---
pagination:
    data: collections.bioPages
    size: 1
    alias: contentPage
permalink: "{{ contentPage.url }}"
---
<div class="header">
    <img src="{{ contentPage.headerImage.results[0].fileUrl }}" />
</div>

<section class="bio-image">
    <img src="{{ contentPage.profileImage.results[0].fileUrl }}" width="500px" />
</section>

<section class="text-vert-mid">
    <p><label class="bio-author">{{ contentPage.author }}</label></p>
    <p>{{ contentPage.jobTitle }}</p>
    <div class="bio-highlights">{{ contentPage.highlights | proseConvert | safe }}</div>
    <p><label class="bio-mastodon">{{ contentPage.mastodon }}</label></p>
</section>
