---
pagination:
    data: collections.sectionTitlePages
    size: 1
    alias: contentPage
permalink: "{{ contentPage.url }}"
---
<div class="bg-image">
    <img src="{{ contentPage.backgroundImage.results[0].fileUrl }}" />
</div>

<section class="text-vert-mid{% if contentPage.layout.results[0].id == "taxonomy_layout_right" %} right{% endif %}" style="height:{{ contentPage.backgroundImage.results[0].fileHeight }}px">
    <div class="title-title"><p>{{ contentPage.title }}</p></div>
    <div class="title-title"><p>{{ contentPage.subtitle }}</p></div>
</section>
