---
pagination:
    data: collections.sectionTitlePages
    size: 1
    alias: contentPage
permalink: "{{ contentPage.name | slugify }}/"
---
<p>Section Title page</p>

id: {{ contentPage.id }}
name: {{ contentPage.name }}
