---
pagination:
    data: collections.textPages
    size: 1
    alias: contentPage
permalink: "{{ contentPage.url }}"
---
<div class="header">
    <img class="bg-image" src="{{ contentPage.headerImage.results[0].fileUrl }}" />
    <div class="page-title">{{ contentPage.title }}</div>
</div>

<section class="text-vert-mid">
    {{ contentPage.text | proseConvert | safe }}
</section>

<div class="images">
    {% set width = (99 / contentPage.images.results.length) %}
    {% for image in contentPage.images.results %}
        <div class="image-holder">
            <img src="{{ image.fileUrl }}" /><!-- width="{{width}}%" -->
        </div>
    {% endfor %}
</div>