---
pagination:
    data: collections.titlePages
    size: 1
    alias: contentPage
permalink: "{{ contentPage.url }}"
---



<section class="text-mid">


title: {{ contentPage.title }}
url: {{ contentPage.url }}
author: {{ contentPage.author }}
date: {{ contentPage.date }}
hashtags: {{ contentPage.hashtags }}

</section>