<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav aria-labelledby="pages-navigation">
      <h2 id="pages-navigation">Pages</h2>
      <ul>
      {% for contentPage in edgeContent %}
        <li>
          <a href="{{ contentPage.url }}" {% if contentPage.id == id %}aria-current="page"{% endif %}>
            {{ contentPage.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
    <div class="content-holder">
      {{ content | safe }}
    </div>
  </body>
</html>
